<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Form</title>
</head>

<body>

<h2>User Form</h2>

<form th:action="@{/users/save}" th:object="${user}" method="post">

    <!-- Hidden ID for editing -->
    <input type="hidden" th:field="*{id}" />

    <p>
        First Name:
        <input type="text" th:field="*{firstName}" />
    </p>

    <p>
        Last Name:
        <input type="text" th:field="*{lastName}" />
    </p>

    <p>
        Email:
        <input type="text" th:field="*{email}" />
    </p>

    <button type="submit">Save</button>

</form>

<br>

<a th:href="@{/users}">Back to Users</a>

</body>
</html>